.spray{
    fill: none;
}

.spray{
    stroke:white;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;

    stroke-dasharray: 0 100 1 15 1 15 1 15 1 15 1 15 0 100;
    stroke-dashoffset: 181;

    -webkit-animation-timing-function: ease-out;
    animation: spray 5s infinite;
}

.whiteFill{
    stroke:white;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
}

.lever{
    -webkit-animation-timing-function: ease-out;
    animation: lever 5s infinite;
}

@keyframes spray{
    0%{
        stroke-dashoffset: 181;
        // stroke-dasharray: 1 15;
        // stroke-dasharray: 1 15 1 80;
        // stroke-dashoffset: 200;

        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        stroke-dashoffset: 5;
    }
    60%{
        
        opacity: 1;
    }
    80%{
        // stroke-dashoffset: 5;
        opacity: 0;
    }
    100%{
        stroke-dashoffset: 5;
        opacity: 0;
    }
}

@keyframes lever{
    0%{
        transform: translateY(0%) translateX(0%) rotate(0deg);
    }

    40%{
        transform: translateY(9%) translateX(-6.25%) rotate(-12deg);
    }
    60%{
        transform: translateY(9%) translateX(-6.25%) rotate(-12deg);
    }
    80%{
        transform: translateY(0%) translateX(0%) rotate(0deg); 
    }
    100%{
        transform: translateY(0%) translateX(0%) rotate(0deg); 
    }
}