@import "../../styles/_variables";

.geoBody{
    position: relative;
    padding: 2em 2em 2em 0;

    @include md {
        padding: 2em;
    }
}

.whiteGeoElement,
.greyGeoElement,
.redGeoElement{
    position: absolute;
    top: 0;
    height: 100%;
    width: 140%;
    transform: skew(-20deg);
}

.whiteGeoElement{
    left: -15%;
    background-color: white;
}

.greyGeoElement{
    left: -17%;
    background-color: $ltgrey;
}

.redGeoElement{
    left: -22%;
    background-color: $orange;
}

.contents{
    position: relative;
}

