/*
COLOUR PALETTE
*/
$orange: #ed1c24;

$dkgrey: #333;

/*
FONTS
*/
//NOTE: example of loading in google fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

// $hdrFont: normal 300 5rem/1.2em 'Montserrat Alternates', sans-serif;
// $subHdrFont: normal 300 2rem/1.2em 'Montserrat Alternates', sans-serif;
// $smHdrFont: normal 300 1.2rem/1.2em 'Montserrat Alternates', sans-serif;
$bodyFont: normal 400 1rem/1.2em 'Source Sans Pro', sans-serif;
