/*
COLOUR PALETTE
*/
$orange: #ed1c24;

$dkgrey: #333;
$medgrey: #999;
$ltgrey: #CCC;

$bottomShadow: 0px 2px 5px 1px rgba(0,0,0,.25);
$bottomShadowHover: 0px 4px 4px 4px rgba(0,0,0,.25);

/*
FONTS
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:300|Source+Sans+Pro:400,700");

$hdrFont: normal 700 2rem/1.2em 'Montserrat', sans-serif;
$bodyFont: normal 400 1rem/1.2em 'Manjari', sans-serif;

/*
BREAKPOINTS
*/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (max-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (max-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (max-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (max-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (max-width: $screen+'px') {
       @content;
   }
}

// use case:
// @include sm {
//         ...
//     }
