.magnifyingglass,
.whiteOutline{
    stroke:white;
    stroke-width:10;
    stroke-linecap:round;
    stroke-miterlimit:10;
}

.iris{
    fill: white;
    transform-origin: center;

    // -webkit-animation-timing-function: ease-out;
    // animation: eyeMove 8s infinite;
}

.pupil{
    fill: black;
    transform-origin: center;

    // -webkit-animation-timing-function: ease-out;
    // animation: pupilMove 8s infinite;
}


// @keyframes eyeMove{
//     0%{
//         transform: translateX(0) translateY(0) scale(1, 1);
//     }
//     20%{
//         transform: translateX(-2%) translateY(5%) scale(.7, .7);
//     }
//     30%{
//         transform: translateX(-2%) translateY(5%) scale(.7, .7);
//     }
//     45%{
//         transform: translateX(10%) translateY(-5%) scale(.9, .9);
//     }
//     60%{
//         transform: translateX(10%) translateY(-5%) scale(.9, .9);
//     }
//     75%{
//         transform: translateX(-5%) translateY(-12%) scale(.7, .7);
//     }
//     85%{
//         transform: translateX(-5%) translateY(-12%) scale(.7, .7);
//     }
//     95%{
//         transform: translateX(0) translateY(0) scale(1, 1);
//     }
//     100%{
//         transform: translateX(0) translateY(0) scale(1, 1);
//     }
// }

// @keyframes pupilMove{
//     0%{
//         transform: translateX(0) translateY(0) scale(1, 1);
//     }
//     20%{
//         transform: translateX(-2%) translateY(5%) scale(.7, .7);
//     }
//     30%{
//         transform: translateX(-2%) translateY(5%) scale(.7, .7);
//     }
//     45%{
//         transform: translateX(10%) translateY(-5%) scale(.9, .9);
//     }
//     60%{
//         transform: translateX(10%) translateY(-5%) scale(.9, .9);
//     }
//     75%{
//         transform: translateX(-5%) translateY(-12%) scale(.7, .7);
//     }
//     85%{
//         transform: translateX(-5%) translateY(-12%) scale(.7, .7);
//     }
//     95%{
//         transform: translateX(0) translateY(0) scale(1, 1);
//     }
//     100%{
//         transform: translateX(0) translateY(0) scale(1, 1);
//     }
// }