.magnifyingglass{
    stroke:white;
    stroke-width:10;
    stroke-linecap:round;
    stroke-miterlimit:10;
    transform-origin: center;

    animation: zoomIn 4s infinite;
}

.bolt{
    stroke:white;
    stroke-width:10;
    stroke-miterlimit:10;    
}

.boltContainer{
    transform-origin: 60% 35%;
    transform: scale(.8);
    animation: getBigger 4s infinite;
}

@keyframes zoomIn{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1);
    }
    40%{
        transform: scale(.9);
    }
    80%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes getBigger{
    0%{
        transform: scale(.8);
    }
    20%{
        transform: scale(.8);
    }
    40%{
        transform: scale(.95);
    }
    80%{
        transform: scale(.95);
    }
    100%{
        transform: scale(.8);
    }
}



