@import "variables";
@import "reset";

/*
GLOBAL STYLES
*/
:root{
  font-size: 18px;
}
*,
body{
  box-sizing: border-box;
  font: $bodyFont;
  color: white;

  transition: all .3s linear;
}

body{
  background: black;
}


h1, h2, h3, h4{
  font: $hdrFont;
}

a{
  cursor: pointer;
  // text-decoration: none;
  font-weight: bold;
}
a:focus{
  color: $orange;
}

footer{
  text-align: center;
  font-size: .6rem;
  padding: .5rem;
}

table{
  border-collapse: collapse;
  margin: 1rem 0;
  width: 100%;
}
td{
  padding: .5rem 1rem;
  min-width: 200px;
  border-bottom: 1px solid $orange;
  border-top: 1px solid $orange;
  &:last-child{
    text-align: right;
  }

  @include md {
    min-width: 50px;
  }
}


// move into component styles
.bodySection{
  position: relative;
  width: 100%;

  display: flex;
  align-items: stretch;
  margin-bottom: 3rem;

  @include md {
    flex-wrap: wrap;
  }

  &.fullWidth{
    padding: 3rem;

    @include md {
      padding: 4rem 2rem 2rem 2rem;
    }
  }

  &.light{
    background: $ltgrey;
  }

  &.orange{
    background: $orange;
  }

}

.bodyColumn{
  padding: 3rem;
  @include md {
    padding: 1rem 2rem;
  }
}

.twoCol,
.threeCol,
.fourCol{
  display: flex;
  flex-wrap: wrap;
}

.twoCol{
  > *{
    width: 50%;
  }
  @include md {
    > *{
      width: 100%;
      margin-right: 0;
      margin-top: 1rem;
      &:nth-child(1){
        margin-top: 0;
      }
    }
  }
}

.threeCol{
  > *{
    width: 33%;

    &.colspan-two{
      width: 66%;
    }
  }

}

.fourCol{
  > *{
    width: 25%;
  }

  &.spacing{
    > *{
      margin-right: 1rem;
      width: calc(25% - .75rem)
    }
    >:last-child{
      margin-right: 0;
    }
    
    @include lg {
      > *{
        width: calc(50% - .5rem);
        margin-right: 1rem;
        margin-top: 1rem;
        &:nth-child(even){
          margin-right: 0;
        }
        &:nth-child(1), &:nth-child(2){
          margin-top: 0;
        }
      }
    }

    @include md {
      > *{
        width: 100%;
        margin-right: 0;
        margin-top: 1rem;

        &:nth-child(1){
          margin-top: 0;
        }
        &:nth-child(2){
          margin-top: 1rem;
        }
      }
    }

  }

  
}
