@import "../../styles/_variables";

.navBar{
    position: fixed;
    width: 100%;
    // padding: 1rem;
    // padding: .5rem;
    z-index: 2;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    box-shadow: $bottomShadow;

    *{
        color: $orange;
        // font-weight: bold;
        text-decoration: none;
    }
}

.links{
    display: flex;
    justify-content: flex-end;

    > * {
        margin: 0 1rem;
        display: block;
    }

    a{
        padding: 1rem .5rem;
        border-bottom: 2px solid black;
    }

    a:hover{
        color: white;
    }

    a:focus{
        outline: none;
        color: white;
        border-bottom: 2px solid white;
    }
}

.logo{
    width: 5.5rem;
    display: block;
    padding: .5rem 1.5rem;
    > *{
        display: block; 
        width: 100%;
    }
}