@import "../../styles/_variables";

.columnContainer{
    position: relative;
    padding: 13vw 4rem 4rem 4rem;

    @include md {
        padding: 1rem 2rem;
    }
}

.overlapHeader{
    position: absolute;
    top: 1rem;
    
    color: $orange;
    font-size: 8vw;
    border-bottom: 1px solid $orange;
    z-index: 2;

    &.left{
        left: -5.25vw;
    }
    &.right{
        right: -5.25vw;
    }

    @include md {
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        width: auto;
        margin-bottom: 1rem;
        &.left{
            left: 0;
        }
    }
}