@import "../../styles/_variables";

.rowContainer{
    position: relative;
    padding-top: 13vw;
    margin-top: 8vw;
}

.overlapHeader{
    font-size: 8vw;
    border-bottom: 1px solid white;

    position: absolute;
    z-index: 2;
    top: -4vw;


    &.left{
        left: 2rem;
    }
    &.right{
        right: 2rem;
    }

    @include md {
        &.left{
            top: 1rem;
        }
        &.right{
            top: 1rem;
        }
    }
}