.whitePortion,
.blackPortion,
.redPortion{
    opacity: 0;
    stroke-width:2;
    stroke-miterlimit:10;
}

.whitePortion{
    stroke:#FFFFFF;
    transform-origin: center;
    stroke-dasharray: 600;
    animation: fullCircleOutline 4s linear;
    animation-fill-mode: forwards;
}

.blackPortion{
    stroke: #FFFFFF;
    animation: blackCircleOutline 3s linear;
}

.redPortion{
    stroke:#ED1C24;
    animation: redCircleOutline 3s linear;
}

.blackPortion,
.redPortion{
    stroke-dasharray: 400;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.whiteTxt{
    // fill:#FFFFFF;
    opacity: 0;

    stroke: white;
    stroke-width:1;
    stroke-miterlimit:10;

    stroke-dasharray: 350;

    // animation: fadeIn 2s linear;
    // animation-delay: 3s;

    
    animation: whiteTextOutline 4s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.blackTxt{
    opacity: 0;

    animation: fadeIn 2s linear;
    animation-delay: 3s;

    animation-fill-mode: forwards;
}


@keyframes redCircleOutline {
    0%{
        stroke-dashoffset: 400;
        opacity: 0
    }
    30%{
        opacity: 1;
    }

    50%{
        stroke-dashoffset: 0;
        // fill: rgba(237, 28, 36, 0);
    }
    80%{
        fill: rgba(237, 28, 36, 0);
    }
    100%{
        fill: rgba(237, 28, 36, 1);
        opacity: 1;
    }
  }

@keyframes blackCircleOutline  {
    0%{
        stroke-dashoffset: 400;
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    50%{
        stroke-dashoffset: 0;
        stroke: #FFFFFF;
    }
    80%{
        stroke: #FFFFFF;
    }
    100%{
        stroke: #000000;
        opacity: 1;
    }
}

@keyframes fullCircleOutline {
    0%   {
        stroke-dashoffset: 600;
        opacity: 0;
        transform: rotate(-140deg);
    }
    25%{
        opacity: 1;
    }
    40%  {
        // fill: rgba(255,255,255, 0);
        stroke-dashoffset: 0;
    }
    80%{
        fill: rgba(255,255,255, 0);
    }
    100% {
        fill: rgba(255,255,255, 1);
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes whiteTextOutline {
    0%{
        stroke-dashoffset: 350;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        stroke-dashoffset: 0;
        stroke-width:1;
        fill: rgba(255,255,255, 0);

    }
    100%{
        stroke-width:0;
        opacity: 1;
        fill: rgba(255,255,255, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}